body {
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#menu{  
  position:absolute; 
  z-index:1;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #840021;
}

h3 {
  font-size: 30px;
  display: inline;
  margin: 30px;  
}

h5 {
  margin-top: 25px;
}

p{
  font-size: 20px;
}

#foto_yesika {
  height: 450px;
}

.project-tile{
  justify-content: center;
}

#img-curriculum{
  width: 100%;
  height: 100%;
}


.datos {
  text-align: center;
  margin-bottom: 10px;
}

hr {
  border: 2px solid #ffffff;
  border-radius: 3px;
}

#proyectos {
  background: #ea6a6a;
}

.hoja:link, .hoja:visited {
  background-color: #840021;
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 40%;
}

.hoja:hover, .hoja:active {
  background-color: #bbbbbb;
}

a {
  text-decoration-line: none;
  color: #ffff;
  font-size: 20px;
}
a:hover {
  color: #000000;
}

.project-tile img{
  width: 50%;
  padding: 10px;
}

.project-tile a{
  background: #840021;
  color:#ffff;
  padding: 5px;
}

.footer {
  background: #840021;
  color:#ffff;
  padding: 5px;
}

#info {
  margin: 20px;
  margin-top: 40px;
}



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #foto_yesika  { 
      position: absolute;
      left: 100px;
      top: 60px;
      opacity: 0.5;
      width: 100%;
    }
    #info {
      position: relative;
      left: -80px;
      top: 60px;
      
    }
    .nombre {
      font-size: 90px;
    }

}